puDataFactory/PartialArmTemplates/ArmTemplate_4_3_2019_18_26_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "puDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BI_Logins_By_Country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdb_blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BI"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Event_date_Day",
						"type": "DateTime"
					},
					{
						"name": "AccountNumber",
						"type": "Int64"
					},
					{
						"name": "Broker",
						"type": "String"
					},
					{
						"name": "Folder",
						"type": "String"
					},
					{
						"name": "FolderType",
						"type": "String"
					},
					{
						"name": "Login_From_Country",
						"type": "String"
					},
					{
						"name": "CustomerCountry",
						"type": "String"
					},
					{
						"name": "Sessions",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "ParquetFormat"
					},
					"fileName": "*.parquet",
					"folderPath": "bi-db/logins_by_country"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Logins_by_Country')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login Sessions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetLast_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"notebookPath": "/Users/mihaib@cliotech.com/Sessions Reports",
							"baseParameters": {
								"Last_Date": {
									"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Analysis",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLast_Date",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'Reports].[Get_LastDate]')]"
							},
							"dataset": {
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference"
							}
						}
					}
				],
				"variables": {
					"Last_Date": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSQL_Logins_By_Country')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQL_Logins_By_Country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_events",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Event_date_Day",
						"type": "Date"
					},
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "Broker",
						"type": "String"
					},
					{
						"name": "Folder",
						"type": "String"
					},
					{
						"name": "FolderType",
						"type": "String"
					},
					{
						"name": "Login_From_Country",
						"type": "String"
					},
					{
						"name": "CustomerCountry",
						"type": "String"
					},
					{
						"name": "Sessions",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Logins_By_Country]')]"
				}
			}
		}
	]
}