puDataFactory/PartialArmTemplates/ArmTemplate_3_27_2019_16_16_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "pudatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sync_customers_clustering')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_csv_to_STG",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"AccountNumber": "AccountNumber",
									"cluster_type": "cluster_type",
									"update_date": "update_date"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_customers_clustering",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "STG_mrr_customers_clustering",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete_all_file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy_csv_to_STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "blob_customers_clustering_folder",
								"type": "DatasetReference"
							},
							"recursive": true,
							"enableLogging": false
						}
					}
				],
				"folder": {
					"name": "Data_to_SQL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_customers_clustering')]",
				"[concat(variables('factoryId'), '/datasets/STG_mrr_customers_clustering')]",
				"[concat(variables('factoryId'), '/datasets/blob_customers_clustering_folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_mrr_customers_clustering')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "STG",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sync"
				},
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "Int64"
					},
					{
						"name": "cluster_type",
						"type": "String"
					},
					{
						"name": "update_date",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[mrr_customers_clustering]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_customers_clustering')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sync"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "cluster_type",
						"type": "String"
					},
					{
						"name": "update_date",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "*.csv",
					"folderPath": "rawdata/export_file/customers_clustering/"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_customers_clustering_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sync"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "cluster_type",
						"type": "String"
					},
					{
						"name": "update_date",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": "rawdata/export_file/customers_clustering/"
				}
			}
		}
	]
}