puDataFactory/PartialArmTemplates/ArmTemplate_3_28_2019_17_43_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "pudatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sync_customers_clustering')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LK_file_name",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"dataset": {
								"referenceName": "blob_customers_clustering_json_file_list",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LK_file_name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('LK_file_name').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copy_file",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "SqlSink",
											"writeBatchSize": 10000
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"columnMappings": {
												"AccountNumber": "AccountNumber",
												"cluster_type": "cluster_type",
												"update_date": "update_date"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "blob_customers_clustering",
											"type": "DatasetReference",
											"parameters": {
												"folder_name": {
													"value": "@item()._1",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STG_mrr_customers_clustering",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Delete_folder",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "copy_file",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"dataset": {
											"referenceName": "blob_customers_clustering_folder",
											"type": "DatasetReference",
											"parameters": {
												"folder_name": "@item()._1"
											}
										},
										"recursive": true,
										"enableLogging": false
									}
								},
								{
									"name": "Delete file",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Delete_folder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"dataset": {
											"referenceName": "blob_customers_clustering_folder_hd_file",
											"type": "DatasetReference",
											"parameters": {
												"folder_name": "@item()._1"
											}
										},
										"recursive": true,
										"enableLogging": false
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Data_to_SQL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_customers_clustering_folder')]",
				"[concat(variables('factoryId'), '/datasets/blob_customers_clustering_folder_hd_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_customers_clustering_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "sync"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "cluster_type",
						"type": "String"
					},
					{
						"name": "update_date",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": {
						"value": "@concat('rawdata/export_file/customers_clustering/',dataset().folder_name)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_customers_clustering_folder_hd_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "sync"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "cluster_type",
						"type": "String"
					},
					{
						"name": "update_date",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "dataset().folder_name",
					"folderPath": {
						"value": "rawdata/export_file/customers_clustering/",
						"type": "Expression"
					}
				}
			}
		}
	]
}