puDataFactory/PartialArmTemplates/ArmTemplate_12_24_2020_12_8_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pudatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/302 Get Data For Model')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Data For Models",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Analysis/Clustering V2/11. Get Data For Model 302 307 330"
						},
						"linkedServiceName": {
							"referenceName": "Analysis_spark_3",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Analysis_spark_3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dim_Communication_Channels')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy data from on premise SQL Server to SQL Azure.\n\nYou can also go to \"Copy Data Tool\" to get the pipeline for more connectors and scenarios.",
				"activities": [
					{
						"name": "SQL_to_SQLAzure",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ChannelID",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelTypeID",
											"type": "Byte"
										},
										"sink": {
											"name": "ChannelTypeID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ChannelType",
											"type": "String"
										},
										"sink": {
											"name": "ChannelType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelName",
											"type": "String"
										},
										"sink": {
											"name": "ChannelName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelStatus",
											"type": "String"
										},
										"sink": {
											"name": "ChannelStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SendingMethodID",
											"type": "Int16"
										},
										"sink": {
											"name": "SendingMethodID",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "SendingMethodName",
											"type": "String"
										},
										"sink": {
											"name": "SendingMethodName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelPopulationFilterId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelPopulationFilterId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelPopulationFilter",
											"type": "String"
										},
										"sink": {
											"name": "ChannelPopulationFilter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel_Event",
											"type": "String"
										},
										"sink": {
											"name": "Channel_Event",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelDeliveryScheduleType",
											"type": "String"
										},
										"sink": {
											"name": "ChannelDeliveryScheduleType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CampaignID",
											"type": "Int32"
										},
										"sink": {
											"name": "CampaignID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CampaignName",
											"type": "String"
										},
										"sink": {
											"name": "CampaignName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CampaignCategory",
											"type": "String"
										},
										"sink": {
											"name": "CampaignCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Campaign_System",
											"type": "String"
										},
										"sink": {
											"name": "Campaign_System",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Campaign_Schedule_Type",
											"type": "String"
										},
										"sink": {
											"name": "Campaign_Schedule_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailSubject",
											"type": "String"
										},
										"sink": {
											"name": "EmailSubject",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CampaignStatus",
											"type": "String"
										},
										"sink": {
											"name": "CampaignStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CampaignPopulationFilterId",
											"type": "Int32"
										},
										"sink": {
											"name": "CampaignPopulationFilterId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CampaignPopulationFilter",
											"type": "String"
										},
										"sink": {
											"name": "CampaignPopulationFilter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ExpectedCustomerResponse",
											"type": "String"
										},
										"sink": {
											"name": "ExpectedCustomerResponse",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RewardID",
											"type": "Int32"
										},
										"sink": {
											"name": "RewardID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RewardName",
											"type": "String"
										},
										"sink": {
											"name": "RewardName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel_Group",
											"type": "String"
										},
										"sink": {
											"name": "Channel_Group",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Scmm_Communication_Channels",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_dwh_Dim_Channels",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "DC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Scmm_Communication_Channels')]",
				"[concat(variables('factoryId'), '/datasets/Azure_dwh_Dim_Channels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN ONLY PU')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RUN - 02_platfromusage_unzip_zip_blob_files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RUN - 01_platfromusage_files_copy_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "02_platfromusage_unzip_zip_blob_files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "RUN - 03_PU_Load_ods_data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RUN - 02_platfromusage_unzip_zip_blob_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "03_PU_Load_ods_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "RUN - 01_platfromusage_files_copy_to_blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01_platfromusage_files_copy_to_blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_dwh_Dim_Channels')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DC"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Dim_Channels"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobInputFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "DimProducts.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "SampleData/AW",
						"container": "mycontainer"
					},
					"columnDelimiter": "|",
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure BI db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EmpID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "surrogatekey",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "EmpFunction",
						"type": "nvarchar"
					},
					{
						"name": "Level",
						"type": "nvarchar"
					},
					{
						"name": "Role",
						"type": "nvarchar"
					},
					{
						"name": "StartDate",
						"type": "date"
					},
					{
						"name": "EndDate",
						"type": "date"
					},
					{
						"name": "iscurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "processtime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DimEmp]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure BI db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "dbo.FactTable2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Facts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "employeeID",
						"type": "String"
					},
					{
						"name": "Hours",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "ProjDate",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParameterTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure BI db",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string",
						"defaultValue": "DimProducts"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scmm_Communication_Channels')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emerp_lm",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DC"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ChannelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChannelTypeID",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "ChannelType",
						"type": "varchar"
					},
					{
						"name": "ChannelName",
						"type": "nvarchar"
					},
					{
						"name": "ChannelStatus",
						"type": "nvarchar"
					},
					{
						"name": "SendingMethodID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SendingMethodName",
						"type": "varchar"
					},
					{
						"name": "ChannelPopulationFilterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChannelPopulationFilter",
						"type": "nvarchar"
					},
					{
						"name": "Channel_Event",
						"type": "varchar"
					},
					{
						"name": "ChannelDeliveryScheduleType",
						"type": "varchar"
					},
					{
						"name": "CampaignID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CampaignName",
						"type": "nvarchar"
					},
					{
						"name": "CampaignCategory",
						"type": "varchar"
					},
					{
						"name": "Campaign_System",
						"type": "varchar"
					},
					{
						"name": "Campaign_Schedule_Type",
						"type": "varchar"
					},
					{
						"name": "EmailSubject",
						"type": "nvarchar"
					},
					{
						"name": "CampaignStatus",
						"type": "nvarchar"
					},
					{
						"name": "CampaignPopulationFilterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CampaignPopulationFilter",
						"type": "nvarchar"
					},
					{
						"name": "ExpectedCustomerResponse",
						"type": "varchar"
					},
					{
						"name": "RewardID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RewardName",
						"type": "nvarchar"
					},
					{
						"name": "Channel_Group",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "azure",
					"table": "Communication_Channels_Stream"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls2 dwh')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://byldatalakeqa.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Analysis_spark_3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "rt 7.5",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-194285697588541.1.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "**********"
					},
					"existingClusterId": "1224-085455-babel544"
				}
			},
			"dependsOn": []
		}
	]
}