puDataFactory/PartialArmTemplates/ArmTemplate_4_4_2021_11_46_20.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "puDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Logins_by_Country')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login Sessions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetLast_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/BI/Reports/Sessions Reports",
							"baseParameters": {
								"Last_Date": {
									"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Analysis",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLast_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[[Reports].[Get_LastDate]",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Copy mrr to Azure SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Login Sessions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BI_Logins_By_Country",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BI_Logins_By_Country')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BI_Logins_By_Country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdb_blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BI"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Event_Day",
						"type": "DateTime"
					},
					{
						"name": "AccountNumber",
						"type": "Int64"
					},
					{
						"name": "Broker",
						"type": "String"
					},
					{
						"name": "Folder",
						"type": "String"
					},
					{
						"name": "FolderType",
						"type": "String"
					},
					{
						"name": "Login_From_Country",
						"type": "String"
					},
					{
						"name": "CustomerCountry",
						"type": "String"
					},
					{
						"name": "AMLComplianceStatus",
						"type": "String"
					},
					{
						"name": "Sessions",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "ParquetFormat"
					},
					"fileName": "*.parquet",
					"folderPath": "bi-db/mrr_logins_by_country"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/every_day_run_all_piplines_to_platfrom_usage')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RUN_ALL_pip_platfrom_usage",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-01-20T15:52:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}