DataFactory/pipeline/0000Incremental_SQL_DWH_Copy.json
{
	"name": "0000Incremental_SQL_DWH_Copy",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Id_Mng_azure_ETL",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT  LastIncrementalDate\n FROM  [azure].[Mng_azure_ETL]\n WHERE TableName='Fact_Transactions'"
					},
					"dataset": {
						"referenceName": "Mng_azure_ETL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LK_new_max_id",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT ExecutionDate=MAX(ExecutionDate)\n FROM [azure].[AZ_Fact_Transactions]\n"
					},
					"dataset": {
						"referenceName": "Mng_azure_ETL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Id_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select * from azure.AZ_Fact_Transactions\n where ExecutionDate > '@{activity('LK_Last_Id_Mng_azure_ETL').output.firstRow.LastIncrementalDate}' and ExecutionDate <= '@{activity('LK_new_max_id').output.firstRow.ExecutionDate}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "Fact_Transactions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "blob_Fact_Transactions",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "Fact_Transactions"
						}
					}
				]
			},
			{
				"name": "update_mng_azure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[azure].[SP_Update_Mng_azure_ETL]",
					"storedProcedureParameters": {
						"LastId": {
							"value": "-1",
							"type": "Int64"
						},
						"LastIncrementalDate": {
							"value": {
								"value": "@{activity('LK_new_max_id').output.firstRow.ExecutionDate}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "Fact_Transactions",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "_old"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}