DataFactory/pipeline/01_platfromusage_files_copy_to_blob.json
{
	"name": "01_platfromusage_files_copy_to_blob",
	"properties": {
		"activities": [
			{
				"name": "LK_file",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "run_sp_add_new_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  SELECT file_name,\n        folder\n\tFROM etl.platfrom_usage_log_file\n WHERE ISNULL(move_to_blob,0) <>1 \n  \n  IF @@ROWCOUNT=0 THROW 50000 ,'No file to move',1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_Sql_bi_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "Source_file_avi",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@activity('LK_file').output.firstRow.file_name",
								"type": "Expression"
							},
							"folder": {
								"value": "@substring(activity('LK_file').output.firstRow.FILE_NAME,0,8)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "platformusage_blob",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@concat('platformusage/rawdata/',activity('LK_file').output.firstRow.folder,'/')\n ",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(substring(activity('LK_file').output.firstRow.FILE_NAME,0,8),'.zip')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "update_platfrom_usage_log_file",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy to blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[azure].[SP_Update_platfrom_usage_log_file]",
					"storedProcedureParameters": {
						"file_name": {
							"value": {
								"value": "@activity('LK_file').output.firstRow.file_name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "run_sp_add_new_file_name",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[azure].[SP_add_new_file_to_table]"
				},
				"linkedServiceName": {
					"referenceName": "DWH12",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "DWH"
					}
				}
			}
		],
		"folder": {
			"name": "Platfrom_Usage"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}