DataFactory/pipeline/02_platfromusage_unzip_zip_blob_files.json
{
	"name": "02_platfromusage_unzip_zip_blob_files",
	"properties": {
		"activities": [
			{
				"name": "lookup_file_to_unzip",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "      SELECT file_name,\n        folder,unzip_file\n\tFROM azure.platfrom_usage_log_file\n WHERE ISNULL(unzip_file,0) <>1 AND move_to_blob=1\n  \n  IF @@ROWCOUNT=0 THROW 50000 ,'No file to move',1"
					},
					"dataset": {
						"referenceName": "DWH_pu_list_files",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "unzip",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_file_to_unzip",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "PreserveHierarchy"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "platformusage_blob",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "@concat('platformusage/rawdata/',activity('lookup_file_to_unzip').output.firstRow.folder,'/')",
							"file_name": "@concat(substring(activity('lookup_file_to_unzip').output.firstRow.FILE_NAME,0,8),'.zip')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_platfrom_unzip_file",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "@concat('platformusage/unzip/',activity('lookup_file_to_unzip').output.firstRow.folder,'/')",
							"file_name": "@concat(substring(activity('lookup_file_to_unzip').output.firstRow.FILE_NAME,0,8),'.zip')"
						}
					}
				]
			},
			{
				"name": "update_unzip",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "unzip",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[azure].[SP_Update_platfrom_usage_log_file_unzip]",
					"storedProcedureParameters": {
						"file_name": {
							"value": {
								"value": "@activity('lookup_file_to_unzip').output.firstRow.file_name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Platfrom_Usage"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}