DataFactory/pipeline/___pipeline1.json
{
	"name": "___pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get FileName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_files_pu_raw_file",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					]
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Get FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "files_lists",
					"value": {
						"value": "(@split(split(activity('Get FileName').output.itemName,'_')[1],'.')[0])",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"files_lists": {
				"type": "String"
			}
		},
		"annotations": []
	}
}