DataFactory/pipeline/___Scmm_Communication_MessageTemplates_copy1.json
{
	"name": "___Scmm_Communication_MessageTemplates_copy1",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Id_Mng_azure_ETL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  LastIncrementalDate=DATEADD(MINUTE,10,LastIncrementalDate)   \n  ---- remove to use incremental\n FROM  Mng_data_factory_ETL\n  WHERE TableName='MessageTemplates'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Mng_data_factory_etl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LK_new_max_id",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(ContentUpdateDate) FROM emerp_lm.azure.scmm_Communication_MessageTemplates",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SCMM_ALL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load_Communication_MessageTemplates",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Load Data/SCMM/Load_Communication_MessageTemplates",
					"baseParameters": {
						"env_type": "prod"
					}
				},
				"linkedServiceName": {
					"referenceName": "Adf_Cluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LK_Last_Id_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LK_Last_Id_Mng_azure_ETL').output.firstRow,activity('LK_new_max_id').output.firstRow)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT * from   EmErp_LM.azure.scmm_Communication_MessageTemplates\n where ContentUpdateDate > '@{activity('LK_Last_Id_Mng_azure_ETL').output.firstRow.LastIncrementalDate}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureDatabricksDeltaLakeSink",
									"preCopyScript": "TRUNCATE TABLE prod_raw.mrr_Communication_MessageTemplates",
									"importSettings": {
										"type": "AzureDatabricksDeltaLakeImportCommand"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "MessageTemplateID",
												"type": "Int32"
											},
											"sink": {
												"name": "MessageTemplateID",
												"type": "Int"
											}
										},
										{
											"source": {
												"name": "ContentKey",
												"type": "String"
											},
											"sink": {
												"name": "ContentKey",
												"type": "string"
											}
										},
										{
											"source": {
												"name": "ChannelID",
												"type": "Int32"
											},
											"sink": {
												"name": "ChannelID",
												"type": "Int"
											}
										},
										{
											"source": {
												"name": "Created",
												"type": "DateTime"
											},
											"sink": {
												"name": "Created",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "Weight",
												"type": "Byte"
											},
											"sink": {
												"name": "Weight",
												"type": "Int"
											}
										},
										{
											"source": {
												"name": "ContentUpdateDate",
												"type": "DateTime"
											},
											"sink": {
												"name": "ContentUpdateDate",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SCMM_ALL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDatabricksDelta_DWH",
									"type": "DatasetReference",
									"parameters": {
										"table": "mrr_communication_messagetemplates"
									}
								}
							]
						},
						{
							"name": "Load_Communication_MessageTemplates_v2",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Load Data/SCMM/Load_Communication_MessageTemplates"
							},
							"linkedServiceName": {
								"referenceName": "Adf_Cluster",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Data_from_SQL/sql_to_azure_delta_table"
		},
		"annotations": []
	}
}