DataFactory/pipeline/_Poc_cosmos_db.json
{
	"name": "_Poc_cosmos_db",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Id_Mng_azure_ETL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  SELECT  LastIncrementalDate=LastId \n  ---- remove to use incremental\n FROM  Mng_data_factory_ETL\n  WHERE TableName='Contacts'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Mng_data_factory_etl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Id_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * from   EmErp_LM.azure.scmm_contacts\n where update_date > CAST(CAST('@{activity('LK_Last_Id_Mng_azure_ETL').output.firstRow.LastIncrementalDate}' AS bigint) AS VARBINARY(8))\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"parallelCopies": 6
				},
				"inputs": [
					{
						"referenceName": "Contacts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blob_Contacts",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "Contacts"
						}
					}
				]
			},
			{
				"name": "update_mng_azure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "SP_Update_Mng_data_factory_ETL",
					"storedProcedureParameters": {
						"LastId": {
							"value": {
								"value": "@{activity('LK_new_max_id').output.firstRow.last_id}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"LastIncrementalDate": {
							"value": "1990-01-01",
							"type": "DateTime"
						},
						"TableName": {
							"value": "Contacts",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure BI db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LK_new_max_id",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT last_id= MAX(timeStampINT)\nFROM EmErp_LM.azure.scmm_contacts\n",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Contacts",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Contacts",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "update_mng_azure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Load Data/Dimensions/contacts"
				},
				"linkedServiceName": {
					"referenceName": "Analysis",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Data_from_SQL"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}