DataFactory/pipeline/Contact.json
{
	"name": "Contact",
	"properties": {
		"activities": [
			{
				"name": "Contact crm to sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Id_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"additionalColumns": [
							{
								"name": "ETL_update_date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"query": {
							"value": "<fetch>  \n   <entity name='contact'> \n     <attribute name='contactid'/>  \n     <attribute name='new_scmmcontactid'/>\n\t <attribute name='createdon'/>   \t \n\t <attribute name='modifiedon'/>     \n<filter type=\"and\">\n<condition attribute='modifiedon' operator=\"on-or-after\" value=\"@{activity('LK_Last_Id_Mng_azure_ETL').output.firstRow.LastIncrementalDate}\" />\n</filter>    \n   </entity>   \n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"Contact_Id"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "contactid",
									"type": "Guid"
								},
								"sink": {
									"name": "Contact_Id",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "Modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "new_scmmcontactid",
									"type": "String"
								},
								"sink": {
									"name": "Scmm_Contact_Id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "Createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ETL_update_date",
									"type": "String"
								},
								"sink": {
									"name": "ETL_update_date",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Dataverse_Contact",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "scmm_dev_sink",
						"type": "DatasetReference",
						"parameters": {
							"SQL_Table_name": {
								"value": "@pipeline().parameters.Table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LK_Last_Id_Mng_azure_ETL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  LastIncrementalDate=DATEADD(MINUTE,10,LastIncrementalDate)   \n  ---- remove to use incremental\n FROM  Mng_data_factory_ETL\n  WHERE TableName='CRM_Contacts'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Mng_data_factory_etl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LK_last_modifiedon_date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Contact crm to sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT   last_modifiedon=MAX(modifiedon)  FROM ',pipeline().parameters.Table_name)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "scmm_dev_sink",
						"type": "DatasetReference",
						"parameters": {
							"SQL_Table_name": {
								"value": "@pipeline().parameters.Table_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Mng_data_factory_ETL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LK_last_modifiedon_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Update_Mng_data_factory_ETL]",
					"storedProcedureParameters": {
						"LastId": {
							"value": "-1",
							"type": "Int64"
						},
						"LastIncrementalDate": {
							"value": {
								"value": "@activity('LK_last_modifiedon_date').output",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.Table_name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure BI db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Table_name": {
				"type": "string",
				"defaultValue": "CRM_Contacts"
			}
		},
		"folder": {
			"name": "CRM"
		},
		"annotations": []
	}
}