DataFactory/pipeline/Customer_Questionnaires.json
{
	"name": "Customer_Questionnaires",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Date_Mng_azure_ETL",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "PartitionKey eq 'Upload Data' and RowKey eq '@{variables('Table_Name')}'",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "etl_manage",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LK_new_max_date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT Last_Activity_Date = MAX(ActionDate)\nFROM azure.AZ_Accounting\nWHERE ActionDay BETWEEN CAST(GETDATE() - 100 AS DATE) AND CAST(GETDATE() - 1 AS DATE) "
					},
					"dataset": {
						"referenceName": "fxnet_accounting_src",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Date_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select * \nFROM azure.AZ_Customer_Questionnaires\nwhere Last_Update > '@{activity('LK_Last_Date_Mng_azure_ETL').output.value[0].Last_Incremental_Date}' \n  and Last_Update <= '@{activity('LK_new_max_Date').output.firstRow.Last_Activity_Date}'\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "dwh_Customer_Questionnaires_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dwh_Customer_Questionnaires_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Manage Table",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MergeTableStore",
						"type": "PipelineReference"
					},
					"parameters": {
						"PartitionKey": "Upload Data",
						"RowKey": {
							"value": "@variables('Table_Name')",
							"type": "Expression"
						},
						"PropertyName": "Last_Incremental_Date",
						"PropertyValue": {
							"value": "@activity('LK_new_max_date').output.firstRow.Last_Update",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"Table_Name": {
				"type": "String",
				"defaultValue": "Customer_Questionnaires"
			}
		},
		"folder": {
			"name": "Data_from_SQL"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}