DataFactory/pipeline/DWH_LeadAssignments.json
{
	"name": "DWH_LeadAssignments",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Id_Mng_azure_ETL",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT  LastIncrementalDate \n  ---- remove to use incremental\nFROM  localdb.azure.Mng_azure_ETL\nWHERE TableName='DWH_LeadAssignments'"
					},
					"dataset": {
						"referenceName": "Mng_azure_ETL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LK_new_max_id",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT Assignment_Day=DATEADD(DAY,-1,MAX(Assignment_day))\nFROM dwh.azure.Lead_Assignments"
					},
					"dataset": {
						"referenceName": "Mng_azure_ETL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Id_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "\nselect * \nFROM dwh.azure.Lead_Assignments\nwhere Assignment_Day> '@{activity('LK_Last_Id_Mng_azure_ETL').output.firstRow.LastIncrementalDate}' and Assignment_Day<= '@{activity('LK_new_max_id').output.firstRow.Assignment_Day}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Call_ID": "Call_ID",
							"Call_Details": "Call_Details",
							"CallDay": "CallDay"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dwh_calls_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dwh_calls_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update_mng_azure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[azure].[SP_Update_Mng_azure_ETL]",
					"storedProcedureParameters": {
						"LastId": {
							"value": "-1",
							"type": "Int64"
						},
						"LastIncrementalDate": {
							"value": {
								"value": "@{activity('LK_new_max_id').output.firstRow.Assignment_Day}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "DWH_Calls",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Data_from_SQL"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}