DataFactory/pipeline/FXNET_Accounting.json
{
	"name": "FXNET_Accounting",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Date_Mng_azure_ETL",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "PartitionKey eq 'Upload Data' and RowKey eq '@{variables('Table_Name')}')",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "etl_manage",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LK_new_max_date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT Last_Activity_Date = MAX(ActionDate)\nFROM azure.AZ_Accounting\nWHERE ActionDay BETWEEN CAST(GETDATE() - 100 AS DATE) AND CAST(GETDATE() - 1 AS DATE) \nand 1=0"
					},
					"dataset": {
						"referenceName": "fxnet_accounting_src",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Date_Mng_azure_ETL",
						"dependencyConditions": [
							"Skipped"
						]
					},
					{
						"activity": "LK_new_max_date",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select * \nFROM azure.AZ_Accounting\nwhere ActionDate > '@{activity('LK_Last_Date_Mng_azure_ETL').output.value[0].Last_Incremental_Date}' \n  and ActionDate <= '@{activity('LK_new_max_Date').output.firstRow.Last_Activity_Date}'\n  and ActionDay > dateadd(day,-1,cast('@{activity('LK_Last_Date_Mng_azure_ETL').output.value[0].Last_Incremental_Date}' as date))\n  and ActionDay < dateadd(day,1,cast('@{activity('LK_new_max_Date').output.firstRow.Last_Activity_Date}' as date))",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"fact_account_trans_id": "fact_account_trans_id",
							"ActionDay": "ActionDay",
							"ActionDate": "ActionDate",
							"Details": "Details"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "fxnet_accounting_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "fxnet_accounting_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Manage Table",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MergeTableStore",
						"type": "PipelineReference"
					},
					"parameters": {
						"PartitionKey": "Upload Data",
						"RowKey": {
							"value": "@variables('Table_Name')",
							"type": "Expression"
						},
						"PropertyName": "Last_Incremental_Date",
						"PropertyValue": {
							"value": "@activity('LK_new_max_date').output.firstRow.Last_Activity_Date",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"Table_Name": {
				"type": "String",
				"defaultValue": "FXNET_Accounting"
			}
		},
		"folder": {
			"name": "Data_from_SQL"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}