DataFactory/pipeline/FXNET_Deals.json
{
	"name": "FXNET_Deals",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Date_Mng_azure_ETL",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "PartitionKey eq 'Upload Data' and RowKey eq '@{variables('Table_Name')}'",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "etl_manage",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LK_new_max_Date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT Last_Execution_Date=MAX(ExecutionDate)\nFROM dwh.azure.AZ_Deals\nWHERE executionDay BETWEEN\nCAST(GETDATE() - 100 AS DATE) AND CAST(GETDATE() - 1 AS DATE) "
					},
					"dataset": {
						"referenceName": "fxnet_deals_src",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Date_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "\nselect * \nFROM dwh.azure.AZ_Deals\nwhere executionDay > '@{activity('LK_Last_Date_Mng_azure_ETL').output.firstRow.LastIncrementalDate}' and executionDay<= '@{activity('LK_new_max_Date').output.firstRow.Last_Execution_Date}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"TransactionNumber": "TransactionNumber",
							"Trans_Details": "Trans_Details",
							"ExecutionDate": "ExecutionDate",
							"ExecutionDay": "ExecutionDay"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "fxnet_deals_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "fxnet_deals_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Deals_To_Events",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Update mng ETL table storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"notebookPath": "/Load Data/FXNET/Load Deals"
				},
				"linkedServiceName": {
					"referenceName": "Analysis",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update mng ETL table storage",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MergeTableStore",
						"type": "PipelineReference"
					},
					"parameters": {
						"PartitionKey": "Upload Data",
						"RowKey": {
							"value": "@variables('Table_Name')",
							"type": "Expression"
						},
						"PropertyName": "Last_Incremental_Date",
						"PropertyValue": {
							"value": "@activity('LK_new_max_date').output.firstRow.NextIncrementalDay",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"Table_Name": {
				"type": "String",
				"defaultValue": "FXNET_Deals"
			}
		},
		"folder": {
			"name": "Data_from_SQL"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}