DataFactory/pipeline/Logins_by_Country.json
{
	"name": "Logins_by_Country",
	"properties": {
		"activities": [
			{
				"name": "Login Sessions",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "GetLast_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/BI/Reports/Sessions Reports",
					"baseParameters": {
						"Last_Date": {
							"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Analysis",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetLast_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[Reports].[Get_LastDate]",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_Logins_By_Country",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy mrr to Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Login Sessions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Event_Day": "Event_date_Day",
							"AccountNumber": "AccountNumber",
							"Broker": "Broker",
							"Folder": "Folder",
							"FolderType": "FolderType",
							"Login_From_Country": "Login_From_Country",
							"CustomerCountry": "CustomerCountry",
							"AMLComplianceStatus": "AMLComplianceStatus",
							"Sessions": "Sessions"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BI_Logins_By_Country",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQL_Logins_By_Country",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "BI"
		},
		"annotations": []
	}
}