DataFactory/pipeline/Logins_by_Country.json
{
	"name": "Logins_by_Country",
	"properties": {
		"activities": [
			{
				"name": "Login Sessions",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "GetLast_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"notebookPath": "/Users/mihaib@cliotech.com/Sessions Reports",
					"baseParameters": {
						"Last_Date": {
							"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Analysis",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetLast_Date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[Reports].[Get_LastDate]"
					},
					"dataset": {
						"referenceName": "AzureSQL_Logins_By_Country",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"Last_Date": {
				"type": "String"
			}
		}
	}
}