DataFactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "blob_customers_clustering_json_file_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_file_name').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delete2",
							"type": "Delete",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "blob_customers_clustering_folder",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "@item()._1"
									}
								},
								"recursive": true,
								"enableLogging": false
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Data_to_SQL"
		}
	}
}