DataFactory/pipeline/SCMM_Activities.json
{
	"name": "SCMM_Activities",
	"properties": {
		"activities": [
			{
				"name": "LK_Last_Date_Mng_azure_ETL",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": "PartitionKey eq 'Upload Data' and RowKey eq 'SCMM_Activities'",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "etl_manage",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LK_new_max_date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT Last_Activity_Date = MAX(Activity_Date)\nFROM EMERP_LM.azure.AZ_SCMM_Activities\n"
					},
					"dataset": {
						"referenceName": "scmm_activities_src",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Last_Date_Mng_azure_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LK_new_max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select * \nFROM EMERP_LM.azure.AZ_SCMM_Activities\nwhere Activity_Date > \n'@activity('LK_Last_Date_Mng_azure_ETL').output.firstRow.LastIncrementalDate}'\n  and Activity_Date <= '@{activity('LK_new_max_date').output.firstRow.Last_Activity_Date}'\n\n\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Call_ID": "Call_ID",
							"Call_Details": "Call_Details",
							"CallDay": "CallDay"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "scmm_activities_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dwh_calls_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update_Etl_Manage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copy_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": "PartitionKey eq 'Upload Data' and RowKey eq 'SCMM_Activities'",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"azureTablePartitionKeyName": "PartitionKey",
						"azureTableRowKeyName": "RowKey",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"PartitionKey": "PartitionKey",
							"RowKey": "RowKey",
							"Timestamp": "Timestamp",
							"Last_Incremental_Date": "Last_Incremental_Date"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "etl_manage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "etl_manage",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Data_from_SQL"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}