DataFactory/pipeline/Sync Tables from sql to delta.json
{
	"name": "Sync Tables from sql to delta",
	"properties": {
		"activities": [
			{
				"name": "Lk_table_name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ID,\n       Server,\n       DB,\n       [schema],\n       TableName\nFROM dbo.synapse_Mng_Sync_Tables\nWHERE Active=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lk_table_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lk_table_name').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dwhpr_dynamic_table",
									"type": "DatasetReference",
									"parameters": {
										"DB": {
											"value": "item().DB",
											"type": "Expression"
										},
										"TableName": "item().TableName",
										"schema": "item().schema"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_file_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Parquet_table_file_name": "item().TableName",
										"Parquet_db": "item().DB"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "azure"
		},
		"annotations": []
	}
}