puDataFactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "pudatafactory"
		},
		"DWH_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DWH'"
		},
		"DWH_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DWH'"
		},
		"Dwhpr_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Dwhpr'"
		},
		"Dwhpr_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Dwhpr'"
		},
		"Events_Collector_PlatfromUsage_log_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Events_Collector_PlatfromUsage_log'"
		},
		"STG_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'STG'"
		},
		"STG_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'STG'"
		},
		"alldbdwh_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'alldbdwh'"
		},
		"alldbdwh_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'alldbdwh'"
		},
		"destpufiles_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'destpufiles'"
		},
		"emerp_lm_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'emerp_lm'"
		},
		"emerp_lm_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'emerp_lm'"
		},
		"emerpdbpr_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'emerpdbpr'"
		},
		"emerpdbpr_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'emerpdbpr'"
		},
		"fileserver1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'fileserver1'"
		},
		"pufiles_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'pufiles'"
		},
		"fxnet_accounting_blob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@CONCAT('FXNET_Accounting_', pipeline().TriggerTime, '.csv.bz2')"
		},
		"fxnet_accounting_blob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@concat('rawdata/FXNET_Accounting/Received=',utcnow('s'))"
		},
		"fxnet_deals_blob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@CONCAT('FXNET_Deals_', pipeline().TriggerTime, '.csv.bz2')"
		},
		"fxnet_deals_blob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@concat('rawdata/FXNET_Deals/Received=',utcnow('s'))"
		},
		"platformusage_blob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().file_name"
		},
		"platformusage_blob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folder_name"
		},
		"scmm_activities_blob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@CONCAT('SCMM_Activities_', pipeline().TriggerTime, '.csv.bz2')"
		},
		"scmm_activities_blob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@concat('rawdata/SCMM_Activities/Received=',utcnow('s'))"
		},
		"unzip_platfrom_file_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"unzip_platfrom_file_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "platformusage/rawdata/201810"
		},
		"DWH_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"Dwhpr_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"Events_Collector_PlatfromUsage_log_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"STG_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"alldbdwh_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"emerp_lm_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"emerpdbpr_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"fileserver1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"pufiles_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/fxnet_accounting_blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataloadStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "fact_account_trans_id",
						"type": "Int64"
					},
					{
						"name": "ActionDay",
						"type": "DateTime"
					},
					{
						"name": "ActionDate",
						"type": "DateTime"
					},
					{
						"name": "Details",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"quoteChar": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "BZip2"
					},
					"fileName": {
						"value": "[parameters('fxnet_accounting_blob_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('fxnet_accounting_blob_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fxnet_deals_blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataloadStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "TransactionNumber",
						"type": "String"
					},
					{
						"name": "ExecutionDay",
						"type": "String"
					},
					{
						"name": "ExecutionDate",
						"type": "DateTime"
					},
					{
						"name": "Trans_Details",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "BZip2"
					},
					"fileName": {
						"value": "[parameters('fxnet_deals_blob_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('fxnet_deals_blob_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/platformusage_blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "String"
					},
					"file_name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Platform Usage"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					},
					"fileName": {
						"value": "[parameters('platformusage_blob_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('platformusage_blob_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scmm_activities_blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataloadStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Activity_Id",
						"type": "Int32"
					},
					{
						"name": "Activity_Date",
						"type": "DateTime"
					},
					{
						"name": "details",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"quoteChar": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "BZip2"
					},
					"fileName": {
						"value": "[parameters('scmm_activities_blob_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('scmm_activities_blob_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/serials_dim_dwh')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BI"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Serial",
						"type": "Int64"
					},
					{
						"name": "Client_Id",
						"type": "String"
					},
					{
						"name": "Client_Numerator",
						"type": "Int32"
					},
					{
						"name": "Client_Name",
						"type": "String"
					},
					{
						"name": "Product_Numerator",
						"type": "Int32"
					},
					{
						"name": "Product_Name",
						"type": "String"
					},
					{
						"name": "Product_Full_Name",
						"type": "String"
					},
					{
						"name": "Campaign_Numerator",
						"type": "Int32"
					},
					{
						"name": "Campaign_Name",
						"type": "String"
					},
					{
						"name": "Targetmarket_Id",
						"type": "Int32"
					},
					{
						"name": "Targetmarket",
						"type": "String"
					},
					{
						"name": "Supplier_Numerator",
						"type": "Int32"
					},
					{
						"name": "Supplier",
						"type": "String"
					},
					{
						"name": "Supplier_Group",
						"type": "String"
					},
					{
						"name": "Mediabuyer_Numerator",
						"type": "Int32"
					},
					{
						"name": "Mediabuyer",
						"type": "String"
					},
					{
						"name": "Format",
						"type": "String"
					},
					{
						"name": "Site_Numerator",
						"type": "Int32"
					},
					{
						"name": "Site_Name",
						"type": "String"
					},
					{
						"name": "Proposition_Id",
						"type": "Int32"
					},
					{
						"name": "Proposition",
						"type": "String"
					},
					{
						"name": "Banner_Name",
						"type": "String"
					},
					{
						"name": "Banner_Path",
						"type": "String"
					},
					{
						"name": "TypeExt",
						"type": "String"
					},
					{
						"name": "Landing_Page",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "SelfActivation",
						"type": "Int32"
					},
					{
						"name": "Content",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[dim_serials]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/unzip_platfrom_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "ZipDeflate"
					},
					"fileName": "[parameters('unzip_platfrom_file_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('unzip_platfrom_file_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('DWH_connectionString')]",
					"userName": "[parameters('DWH_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DWH_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dwhpr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Dwhpr_connectionString')]",
					"userName": "[parameters('Dwhpr_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Dwhpr_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Events_Collector_PlatfromUsage_log')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "\\\\netapp-ams-cifs\\db\\Events_Collector\\az_test_processed",
					"userId": "[parameters('Events_Collector_PlatfromUsage_log_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Events_Collector_PlatfromUsage_log_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('STG_connectionString')]",
					"userName": "[parameters('STG_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('STG_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/alldbdwh')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('alldbdwh_connectionString')]",
					"userName": "[parameters('alldbdwh_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('alldbdwh_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/destpufiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('destpufiles_connectionString')]"
				},
				"connectVia": {
					"referenceName": "puodsfiles",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emerp_lm')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('emerp_lm_connectionString')]",
					"userName": "[parameters('emerp_lm_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('emerp_lm_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emerpdbpr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "emerp-db-pr,2555",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('emerpdbpr_connectionString')]",
					"userName": "[parameters('emerpdbpr_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('emerpdbpr_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fileserver1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "\\\\netapp-ams-cifs\\db\\Events_Collector\\Archived",
					"userId": "[parameters('fileserver1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('fileserver1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pufiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "D:\\\\pufiles",
					"userId": "[parameters('pufiles_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('pufiles_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Logins_by_Country')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login Sessions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetLast_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Load Data/Reports/Sessions Reports",
							"baseParameters": {
								"Last_Date": {
									"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Analysis",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLast_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'Reports].[Get_LastDate]')]"
							},
							"dataset": {
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy mrr to Azure SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Login Sessions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Event_date_Day": "Event_date_Day",
									"AccountNumber": "AccountNumber",
									"Broker": "Broker",
									"Folder": "Folder",
									"FolderType": "FolderType",
									"Login_From_Country": "Login_From_Country",
									"CustomerCountry": "CustomerCountry",
									"AMLComplianceStatus": "AMLComplianceStatus",
									"Sessions": "Sessions"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Serials Dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_to_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Serial": "Serial",
									"Client_Id": "Client_Id",
									"Client_Numerator": "Client_Numerator",
									"Client_Name": "Client_Name",
									"Product_Numerator": "Product_Numerator",
									"Product_Name": "Product_Name",
									"Product_Full_Name": "Product_Full_Name",
									"Campaign_Numerator": "Campaign_Numerator",
									"Campaign_Name": "Campaign_Name",
									"Targetmarket_Id": "Targetmarket_Id",
									"Targetmarket": "Targetmarket",
									"Supplier_Numerator": "Supplier_Numerator",
									"Supplier": "Supplier",
									"Supplier_Group": "Supplier_Group",
									"Mediabuyer_Numerator": "Mediabuyer_Numerator",
									"Mediabuyer": "Mediabuyer",
									"Format": "Format",
									"Site_Numerator": "Site_Numerator",
									"Site_Name": "Site_Name",
									"Proposition_Id": "Proposition_Id",
									"Proposition": "Proposition",
									"Banner_Name": "Banner_Name",
									"Banner_Path": "Banner_Path",
									"TypeExt": "TypeExt",
									"Landing_Page": "Landing_Page",
									"Language": "Language",
									"SelfActivation": "SelfActivation",
									"Content": "Content"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Serials_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "serials_dim_dwh",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/serials_dim_dwh')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fact events')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_to_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Event_Date_day": "Event_Date_day",
									"Source": "Source",
									"Event_Name": "Event_Name",
									"Event_Details": "Event_Details",
									"Event_Count": "Event_Count"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Events_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fact_events_dwh",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Communication_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "MessageID",
						"type": "Int32"
					},
					{
						"name": "Event_Date",
						"type": "DateTime"
					},
					{
						"name": "details",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "emerp_lm.azure.AZ_Communication"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/alldbdwh')]"
			]
		}
	]
}