puDataFactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "pudatafactory"
		},
		"DestinationDataset_opq_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "pulogfile"
		},
		"DestinationDataset_opq_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "puods"
		},
		"DestinationDataset_qai_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "INprocessed"
		},
		"SourceDataset_PlatfromUsagePROD_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "processed"
		},
		"SourceDataset_opq_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": ""
		},
		"Source_file_avi_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().file_name"
		},
		"Source_file_avi_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folder"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Contacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dwhpr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "RAWDB_Id",
						"type": "Int64"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "Fixed_Timestamp",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "EmErp_LM.azure.scmm_contacts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "SsisUpdatedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "dwh.azure.AZ_Customers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_pu_list_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "TransactionNumber",
						"type": "Int32"
					},
					{
						"name": "PositionNumber",
						"type": "Int32"
					},
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "CustomerHistory_ID",
						"type": "Int32"
					},
					{
						"name": "CustomersExtendedHistory_ID",
						"type": "Int32"
					},
					{
						"name": "DealAttirbute_ID",
						"type": "Int16"
					},
					{
						"name": "Instrument_ID",
						"type": "Int32"
					},
					{
						"name": "TransactionType_ID",
						"type": "Int16"
					},
					{
						"name": "Direction_ID",
						"type": "Int16"
					},
					{
						"name": "Source_ID",
						"type": "Int16"
					},
					{
						"name": "DealType_ID",
						"type": "Int16"
					},
					{
						"name": "ExecutionDate",
						"type": "DateTime"
					},
					{
						"name": "ExecutionDay",
						"type": "DateTime"
					},
					{
						"name": "ExecutionTime",
						"type": "TimeSpan"
					},
					{
						"name": "TransactionCloseDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDay",
						"type": "DateTime"
					},
					{
						"name": "BaseAmount",
						"type": "Decimal"
					},
					{
						"name": "OtherAmount",
						"type": "Decimal"
					},
					{
						"name": "SpotRate",
						"type": "Decimal"
					},
					{
						"name": "ForwardPips",
						"type": "Double"
					},
					{
						"name": "TotRate",
						"type": "Decimal"
					},
					{
						"name": "Volume_USD",
						"type": "Decimal"
					},
					{
						"name": "ServerRate",
						"type": "Decimal"
					},
					{
						"name": "OtherServerRate",
						"type": "Decimal"
					},
					{
						"name": "ExecutedLimit",
						"type": "Int16"
					},
					{
						"name": "PL",
						"type": "Decimal"
					},
					{
						"name": "IsFirstBOP",
						"type": "Boolean"
					},
					{
						"name": "IsFirstForex",
						"type": "Boolean"
					},
					{
						"name": "IsFirstDeal",
						"type": "Boolean"
					},
					{
						"name": "Deleted",
						"type": "Boolean"
					},
					{
						"name": "PositionClosed",
						"type": "Int16"
					},
					{
						"name": "DealPL_USD",
						"type": "Decimal"
					},
					{
						"name": "PL_SymbolId",
						"type": "Int16"
					},
					{
						"name": "AccountBasesymbolId",
						"type": "Int16"
					},
					{
						"name": "EtlUpdatedDate",
						"type": "DateTime"
					},
					{
						"name": "SpreadCost",
						"type": "Decimal"
					},
					{
						"name": "Folder_ID",
						"type": "Int16"
					},
					{
						"name": "Broker_ID",
						"type": "Int32"
					},
					{
						"name": "AccountNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PositionNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PL_AccountBase",
						"type": "Decimal"
					},
					{
						"name": "Customer_Favor_Rate_diff",
						"type": "Decimal"
					},
					{
						"name": "Channel_Bucket_ID",
						"type": "Int32"
					},
					{
						"name": "Sessions_ID",
						"type": "Int64"
					},
					{
						"name": "DealCountTotal",
						"type": "Int32"
					},
					{
						"name": "Retention_ID",
						"type": "Int16"
					},
					{
						"name": "ConversionRate",
						"type": "Decimal"
					},
					{
						"name": "CommissionInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "CommissionInOther",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInOther",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInOther",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'azure].[platfrom_usage_log_file]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_opq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "destpufiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DestinationDataset_opq_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DestinationDataset_opq_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_qai')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Events_Collector_PlatfromUsage_log",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"folderPath": "[parameters('DestinationDataset_qai_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dim_AccountContacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "ContactID",
						"type": "Int64"
					},
					{
						"name": "LastUpdate",
						"type": "DateTime"
					},
					{
						"name": "SsisUpdatedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "dwh.azure.AZ_Dim_AccountContacts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EMERP_DB_Events')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "RAWDB_Id",
						"type": "Int64"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "Fixed_Timestamp",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "emerp_db.azure.AZ_EMERP_DB_Events"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fact_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "TransactionNumber",
						"type": "Int32"
					},
					{
						"name": "PositionNumber",
						"type": "Int32"
					},
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "CustomerHistory_ID",
						"type": "Int32"
					},
					{
						"name": "CustomersExtendedHistory_ID",
						"type": "Int32"
					},
					{
						"name": "DealAttirbute_ID",
						"type": "Int16"
					},
					{
						"name": "Instrument_ID",
						"type": "Int32"
					},
					{
						"name": "TransactionType_ID",
						"type": "Int16"
					},
					{
						"name": "Direction_ID",
						"type": "Int16"
					},
					{
						"name": "Source_ID",
						"type": "Int16"
					},
					{
						"name": "DealType_ID",
						"type": "Int16"
					},
					{
						"name": "ExecutionDate",
						"type": "DateTime"
					},
					{
						"name": "ExecutionDay",
						"type": "DateTime"
					},
					{
						"name": "ExecutionTime",
						"type": "TimeSpan"
					},
					{
						"name": "TransactionCloseDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDay",
						"type": "DateTime"
					},
					{
						"name": "BaseAmount",
						"type": "Decimal"
					},
					{
						"name": "OtherAmount",
						"type": "Decimal"
					},
					{
						"name": "SpotRate",
						"type": "Decimal"
					},
					{
						"name": "ForwardPips",
						"type": "Double"
					},
					{
						"name": "TotRate",
						"type": "Decimal"
					},
					{
						"name": "Volume_USD",
						"type": "Decimal"
					},
					{
						"name": "ServerRate",
						"type": "Decimal"
					},
					{
						"name": "OtherServerRate",
						"type": "Decimal"
					},
					{
						"name": "ExecutedLimit",
						"type": "Int16"
					},
					{
						"name": "PL",
						"type": "Decimal"
					},
					{
						"name": "IsFirstBOP",
						"type": "Boolean"
					},
					{
						"name": "IsFirstForex",
						"type": "Boolean"
					},
					{
						"name": "IsFirstDeal",
						"type": "Boolean"
					},
					{
						"name": "Deleted",
						"type": "Boolean"
					},
					{
						"name": "PositionClosed",
						"type": "Int16"
					},
					{
						"name": "DealPL_USD",
						"type": "Decimal"
					},
					{
						"name": "PL_SymbolId",
						"type": "Int16"
					},
					{
						"name": "AccountBasesymbolId",
						"type": "Int16"
					},
					{
						"name": "EtlUpdatedDate",
						"type": "DateTime"
					},
					{
						"name": "SpreadCost",
						"type": "Decimal"
					},
					{
						"name": "Folder_ID",
						"type": "Int16"
					},
					{
						"name": "Broker_ID",
						"type": "Int32"
					},
					{
						"name": "AccountNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PositionNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PL_AccountBase",
						"type": "Decimal"
					},
					{
						"name": "Customer_Favor_Rate_diff",
						"type": "Decimal"
					},
					{
						"name": "Channel_Bucket_ID",
						"type": "Int32"
					},
					{
						"name": "Sessions_ID",
						"type": "Int64"
					},
					{
						"name": "DealCountTotal",
						"type": "Int32"
					},
					{
						"name": "Retention_ID",
						"type": "Int16"
					},
					{
						"name": "ConversionRate",
						"type": "Decimal"
					},
					{
						"name": "CommissionInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "CommissionInOther",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInOther",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInOther",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'azure].[AZ_Fact_Transactions]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mng_azure_ETL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'azure].[Mng_azure_ETL]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_576')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_PlatfromUsagePROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Events_Collector_PlatfromUsage_log",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"folderPath": "[parameters('SourceDataset_PlatfromUsagePROD_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_bvj')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_gjq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_opq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pufiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"structure": [
					{
						"name": "ip",
						"type": "String"
					},
					{
						"name": "f1",
						"type": "String"
					},
					{
						"name": "f2",
						"type": "String"
					},
					{
						"name": "datetime",
						"type": "String"
					},
					{
						"name": "timeoffset",
						"type": "String"
					},
					{
						"name": "urlstring",
						"type": "String"
					},
					{
						"name": "response",
						"type": "String"
					},
					{
						"name": "rc",
						"type": "String"
					},
					{
						"name": "url2",
						"type": "String"
					},
					{
						"name": "appsettings",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": " ",
						"rowDelimiter": "\n",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"folderPath": "[parameters('SourceDataset_opq_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_tau')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_file_avi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fileserver1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "String"
					},
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					},
					"fileName": {
						"value": "[parameters('Source_file_avi_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('Source_file_avi_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwh_calls_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "Call_ID",
						"type": "Int32"
					},
					{
						"name": "Call_Details",
						"type": "String"
					},
					{
						"name": "CallDay",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "dwh.azure.calls"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fxnet_deals_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "TransactionNumber",
						"type": "Int32"
					},
					{
						"name": "Trans_Details",
						"type": "String"
					},
					{
						"name": "ExecutionDay",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "dwh.azure.deals"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/serials')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emerpdbpr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "Serial",
						"type": "Int64"
					},
					{
						"name": "serial_details",
						"type": "String"
					},
					{
						"name": "update_date",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "azure.az_serials"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0000Incremental_SQL_DWH_Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LK_Last_Id_Mng_azure_ETL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT  LastIncrementalDate\n FROM  [azure].[Mng_azure_ETL]\n WHERE TableName='Fact_Transactions'"
							},
							"dataset": {
								"referenceName": "Mng_azure_ETL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LK_new_max_id",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT ExecutionDate=MAX(ExecutionDate)\n FROM [azure].[AZ_Fact_Transactions]\n"
							},
							"dataset": {
								"referenceName": "Mng_azure_ETL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "copy_to_blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LK_Last_Id_Mng_azure_ETL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LK_new_max_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select * from azure.AZ_Fact_Transactions\n where ExecutionDate > '@{activity('LK_Last_Id_Mng_azure_ETL').output.firstRow.LastIncrementalDate}' and ExecutionDate <= '@{activity('LK_new_max_id').output.firstRow.ExecutionDate}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "Fact_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_Fact_Transactions",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "Fact_Transactions"
								}
							}
						]
					},
					{
						"name": "update_mng_azure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'azure].[SP_Update_Mng_azure_ETL]')]",
							"storedProcedureParameters": {
								"LastId": {
									"value": "-1",
									"type": "Int64"
								},
								"LastIncrementalDate": {
									"value": {
										"value": "@{activity('LK_new_max_id').output.firstRow.ExecutionDate}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": "Fact_Transactions",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "alldbdwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "_old"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Mng_azure_ETL')]",
				"[concat(variables('factoryId'), '/datasets/Fact_Transactions')]"
			]
		}
	]
}