puDataFactory/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "puDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Logins_by_Country')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login Sessions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetLast_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/BI/Reports/Sessions Reports",
							"baseParameters": {
								"Last_Date": {
									"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Analysis",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLast_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[[Reports].[Get_LastDate]",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy mrr to Azure SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Login Sessions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Event_Day": "Event_date_Day",
									"AccountNumber": "AccountNumber",
									"Broker": "Broker",
									"Folder": "Folder",
									"FolderType": "FolderType",
									"Login_From_Country": "Login_From_Country",
									"CustomerCountry": "CustomerCountry",
									"AMLComplianceStatus": "AMLComplianceStatus",
									"Sessions": "Sessions"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_All_old_clustering_model_203')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "01 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01 Get Customers List For All Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "02 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "01 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "02 Get Data For Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "03  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "02 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "03 - Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run_all_Model_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "999 sync to azure sql",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "303  Execute Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "999 - sync to azure sql",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "301 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "301 Get Customers List For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "302 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "301 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "302 Get Data For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "303  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "302 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "303 Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Serials Dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_to_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Serial": "Serial",
									"Client_Id": "Client_Id",
									"Client_Numerator": "Client_Numerator",
									"Client_Name": "Client_Name",
									"Product_Numerator": "Product_Numerator",
									"Product_Name": "Product_Name",
									"Product_Full_Name": "Product_Full_Name",
									"Campaign_Numerator": "Campaign_Numerator",
									"Campaign_Name": "Campaign_Name",
									"Targetmarket_Id": "Targetmarket_Id",
									"Targetmarket": "Targetmarket",
									"Supplier_Numerator": "Supplier_Numerator",
									"Supplier": "Supplier",
									"Supplier_Group": "Supplier_Group",
									"Mediabuyer_Numerator": "Mediabuyer_Numerator",
									"Mediabuyer": "Mediabuyer",
									"Format": "Format",
									"Site_Numerator": "Site_Numerator",
									"Site_Name": "Site_Name",
									"Proposition_Id": "Proposition_Id",
									"Proposition": "Proposition",
									"Banner_Name": "Banner_Name",
									"Banner_Path": "Banner_Path",
									"TypeExt": "TypeExt",
									"Landing_Page": "Landing_Page",
									"Language": "Language",
									"SelfActivation": "SelfActivation",
									"Content": "Content"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Serials_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "serials_dim_dwh",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/___test_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "01 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01 Get Customers List For All Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "02 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "01 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "02 Get Data For Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "03  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "02 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "03 - Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "999 sync to azure sql",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "303  Execute Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "999 - sync to azure sql",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "301 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "03  Execute Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "301 Get Customers List For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "302 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "301 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "302 Get Data For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "303  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "302 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "303 Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cm BlobJsonToCosmos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_5sz",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dwh-qa/sqldata/campaingscsv.json"
							},
							{
								"name": "Destination",
								"value": "campaigns"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_5sz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_5sz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cm json to cosmos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_bve",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dwh-qa/sqldata/campaings"
							},
							{
								"name": "Destination",
								"value": "campaigns"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_bve",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_bve",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/j to cosmos2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_e97",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dwh-qa/sqldata/campaings.json"
							},
							{
								"name": "Destination",
								"value": "campaigns"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_e97",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_e97",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Communication_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "MessageID",
						"type": "Int32"
					},
					{
						"name": "Event_Date",
						"type": "DateTime"
					},
					{
						"name": "details",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "emerp_lm.azure.AZ_Communication"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Contacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dwhpr",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "emerp_lm"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "RAWDB_Id",
						"type": "Int64"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "Fixed_Timestamp",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "EmErp_LM.azure.scmm_contacts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DM_Model_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH12",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "DM"
					}
				},
				"folder": {
					"name": "Assignment Score"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AssignmentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Contact_Id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Accountnumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BrokerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsOnline",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "HasAccount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "First_Lead_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "First_Lead_Local_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Lead_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Email_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Login_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Action_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "First_Lead_Last_Lead_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_To_Assignment_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Action_To_Assignment_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Local_Weekday",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Local_Day",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Local_Hour",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Language",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "SiteTrigger",
						"type": "nvarchar"
					},
					{
						"name": "Serial",
						"type": "varchar"
					},
					{
						"name": "Is_Serial_0",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Target_Market",
						"type": "nvarchar"
					},
					{
						"name": "CampaignName",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "Supplier",
						"type": "nvarchar"
					},
					{
						"name": "Site_Name",
						"type": "nvarchar"
					},
					{
						"name": "Landing_Page",
						"type": "varchar"
					},
					{
						"name": "ProductType",
						"type": "nvarchar"
					},
					{
						"name": "Placement_size",
						"type": "nvarchar"
					},
					{
						"name": "SupplierChargingUnit",
						"type": "nvarchar"
					},
					{
						"name": "Creative_format",
						"type": "nvarchar"
					},
					{
						"name": "Creative",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Os",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Browser",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Content",
						"type": "nvarchar"
					},
					{
						"name": "Last_Failed_Deposit_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Failed_Amount_USD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Last_Wire_Amount_USD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Last_Failed_To_Assignment_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Is_Failed_Dep_Last_7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "number_of_serials",
						"type": "int",
						"precision": 10
					},
					{
						"name": "total_hphit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "n_logins_last_30",
						"type": "int",
						"precision": 10
					},
					{
						"name": "n_emails_last_30",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SupplierGroup",
						"type": "varchar"
					},
					{
						"name": "SupplierGroup_SEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SupplierGroup_Others",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SupplierGroup_Affiliates",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction",
						"type": "varchar"
					},
					{
						"name": "ContactAction_Lead",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction_Returning_Lead",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction_Returning_Email",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction_Returning_Login",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge",
						"type": "varchar"
					},
					{
						"name": "ContactActionAge_Till_2H",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_2H_24H",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_24H_3D",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_3D_7D",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_7D_14D",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_14D_1M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_1M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Device",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Device_Tablet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Device_Mobile",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Device_Desktop",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Failed_Method",
						"type": "nvarchar"
					},
					{
						"name": "Last_Failed_CreditCards",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Failed_eWallet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Failed_None",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Activation_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Assignment",
					"table": "Model_Data"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_API_Customers_Models_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AccountNumber",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Model_Result",
						"type": "nvarchar"
					},
					{
						"name": "Last_Update_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Sync_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Azure_Customers_Models_Data]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_Dim_Customers_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "SsisUpdatedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "[[azure].[AZ_Customers]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_pu_list_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Platform Usage"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "TransactionNumber",
						"type": "Int32"
					},
					{
						"name": "PositionNumber",
						"type": "Int32"
					},
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "CustomerHistory_ID",
						"type": "Int32"
					},
					{
						"name": "CustomersExtendedHistory_ID",
						"type": "Int32"
					},
					{
						"name": "DealAttirbute_ID",
						"type": "Int16"
					},
					{
						"name": "Instrument_ID",
						"type": "Int32"
					},
					{
						"name": "TransactionType_ID",
						"type": "Int16"
					},
					{
						"name": "Direction_ID",
						"type": "Int16"
					},
					{
						"name": "Source_ID",
						"type": "Int16"
					},
					{
						"name": "DealType_ID",
						"type": "Int16"
					},
					{
						"name": "ExecutionDate",
						"type": "DateTime"
					},
					{
						"name": "ExecutionDay",
						"type": "DateTime"
					},
					{
						"name": "ExecutionTime",
						"type": "TimeSpan"
					},
					{
						"name": "TransactionCloseDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDay",
						"type": "DateTime"
					},
					{
						"name": "BaseAmount",
						"type": "Decimal"
					},
					{
						"name": "OtherAmount",
						"type": "Decimal"
					},
					{
						"name": "SpotRate",
						"type": "Decimal"
					},
					{
						"name": "ForwardPips",
						"type": "Double"
					},
					{
						"name": "TotRate",
						"type": "Decimal"
					},
					{
						"name": "Volume_USD",
						"type": "Decimal"
					},
					{
						"name": "ServerRate",
						"type": "Decimal"
					},
					{
						"name": "OtherServerRate",
						"type": "Decimal"
					},
					{
						"name": "ExecutedLimit",
						"type": "Int16"
					},
					{
						"name": "PL",
						"type": "Decimal"
					},
					{
						"name": "IsFirstBOP",
						"type": "Boolean"
					},
					{
						"name": "IsFirstForex",
						"type": "Boolean"
					},
					{
						"name": "IsFirstDeal",
						"type": "Boolean"
					},
					{
						"name": "Deleted",
						"type": "Boolean"
					},
					{
						"name": "PositionClosed",
						"type": "Int16"
					},
					{
						"name": "DealPL_USD",
						"type": "Decimal"
					},
					{
						"name": "PL_SymbolId",
						"type": "Int16"
					},
					{
						"name": "AccountBasesymbolId",
						"type": "Int16"
					},
					{
						"name": "EtlUpdatedDate",
						"type": "DateTime"
					},
					{
						"name": "SpreadCost",
						"type": "Decimal"
					},
					{
						"name": "Folder_ID",
						"type": "Int16"
					},
					{
						"name": "Broker_ID",
						"type": "Int32"
					},
					{
						"name": "AccountNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PositionNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PL_AccountBase",
						"type": "Decimal"
					},
					{
						"name": "Customer_Favor_Rate_diff",
						"type": "Decimal"
					},
					{
						"name": "Channel_Bucket_ID",
						"type": "Int32"
					},
					{
						"name": "Sessions_ID",
						"type": "Int64"
					},
					{
						"name": "DealCountTotal",
						"type": "Int32"
					},
					{
						"name": "Retention_ID",
						"type": "Int16"
					},
					{
						"name": "ConversionRate",
						"type": "Decimal"
					},
					{
						"name": "CommissionInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "CommissionInOther",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInOther",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInOther",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[[azure].[platfrom_usage_log_file]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dim_AccountContacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "ContactID",
						"type": "Int64"
					},
					{
						"name": "LastUpdate",
						"type": "DateTime"
					},
					{
						"name": "SsisUpdatedDate",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "dwh.azure.AZ_Dim_AccountContacts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EMERP_DB_Events')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dwhpr",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "emerp_db"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "RAWDB_Id",
						"type": "Int64"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "Fixed_Timestamp",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "azure.AZ_EMERP_DB_Events"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fact_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "TransactionNumber",
						"type": "Int32"
					},
					{
						"name": "PositionNumber",
						"type": "Int32"
					},
					{
						"name": "AccountNumber",
						"type": "Int32"
					},
					{
						"name": "CustomerHistory_ID",
						"type": "Int32"
					},
					{
						"name": "CustomersExtendedHistory_ID",
						"type": "Int32"
					},
					{
						"name": "DealAttirbute_ID",
						"type": "Int16"
					},
					{
						"name": "Instrument_ID",
						"type": "Int32"
					},
					{
						"name": "TransactionType_ID",
						"type": "Int16"
					},
					{
						"name": "Direction_ID",
						"type": "Int16"
					},
					{
						"name": "Source_ID",
						"type": "Int16"
					},
					{
						"name": "DealType_ID",
						"type": "Int16"
					},
					{
						"name": "ExecutionDate",
						"type": "DateTime"
					},
					{
						"name": "ExecutionDay",
						"type": "DateTime"
					},
					{
						"name": "ExecutionTime",
						"type": "TimeSpan"
					},
					{
						"name": "TransactionCloseDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDate",
						"type": "DateTime"
					},
					{
						"name": "ValueDay",
						"type": "DateTime"
					},
					{
						"name": "BaseAmount",
						"type": "Decimal"
					},
					{
						"name": "OtherAmount",
						"type": "Decimal"
					},
					{
						"name": "SpotRate",
						"type": "Decimal"
					},
					{
						"name": "ForwardPips",
						"type": "Double"
					},
					{
						"name": "TotRate",
						"type": "Decimal"
					},
					{
						"name": "Volume_USD",
						"type": "Decimal"
					},
					{
						"name": "ServerRate",
						"type": "Decimal"
					},
					{
						"name": "OtherServerRate",
						"type": "Decimal"
					},
					{
						"name": "ExecutedLimit",
						"type": "Int16"
					},
					{
						"name": "PL",
						"type": "Decimal"
					},
					{
						"name": "IsFirstBOP",
						"type": "Boolean"
					},
					{
						"name": "IsFirstForex",
						"type": "Boolean"
					},
					{
						"name": "IsFirstDeal",
						"type": "Boolean"
					},
					{
						"name": "Deleted",
						"type": "Boolean"
					},
					{
						"name": "PositionClosed",
						"type": "Int16"
					},
					{
						"name": "DealPL_USD",
						"type": "Decimal"
					},
					{
						"name": "PL_SymbolId",
						"type": "Int16"
					},
					{
						"name": "AccountBasesymbolId",
						"type": "Int16"
					},
					{
						"name": "EtlUpdatedDate",
						"type": "DateTime"
					},
					{
						"name": "SpreadCost",
						"type": "Decimal"
					},
					{
						"name": "Folder_ID",
						"type": "Int16"
					},
					{
						"name": "Broker_ID",
						"type": "Int32"
					},
					{
						"name": "AccountNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PositionNumber_modo",
						"type": "Int32"
					},
					{
						"name": "PL_AccountBase",
						"type": "Decimal"
					},
					{
						"name": "Customer_Favor_Rate_diff",
						"type": "Decimal"
					},
					{
						"name": "Channel_Bucket_ID",
						"type": "Int32"
					},
					{
						"name": "Sessions_ID",
						"type": "Int64"
					},
					{
						"name": "DealCountTotal",
						"type": "Int32"
					},
					{
						"name": "Retention_ID",
						"type": "Int16"
					},
					{
						"name": "ConversionRate",
						"type": "Decimal"
					},
					{
						"name": "CommissionInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInAccountBase",
						"type": "Decimal"
					},
					{
						"name": "CommissionInOther",
						"type": "Decimal"
					},
					{
						"name": "SpreadCostInOther",
						"type": "Decimal"
					},
					{
						"name": "RolloverSpreadCostInOther",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[[azure].[AZ_Fact_Transactions]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mng_azure_ETL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alldbdwh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[[azure].[Mng_azure_ETL]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_mrr_customers_clustering')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "STG",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sync"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AccountNumber",
						"type": "Int64",
						"precision": 19,
						"scale": 255
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[mrr_customers_clustering]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scmm_Communication_Channels')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emerp_lm",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DC"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ChannelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChannelTypeID",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "ChannelType",
						"type": "varchar"
					},
					{
						"name": "ChannelName",
						"type": "nvarchar"
					},
					{
						"name": "ChannelStatus",
						"type": "nvarchar"
					},
					{
						"name": "SendingMethodID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SendingMethodName",
						"type": "varchar"
					},
					{
						"name": "ChannelPopulationFilterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChannelPopulationFilter",
						"type": "nvarchar"
					},
					{
						"name": "Channel_Event",
						"type": "varchar"
					},
					{
						"name": "ChannelDeliveryScheduleType",
						"type": "varchar"
					},
					{
						"name": "CampaignID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CampaignName",
						"type": "nvarchar"
					},
					{
						"name": "CampaignCategory",
						"type": "varchar"
					},
					{
						"name": "Campaign_System",
						"type": "varchar"
					},
					{
						"name": "Campaign_Schedule_Type",
						"type": "varchar"
					},
					{
						"name": "EmailSubject",
						"type": "nvarchar"
					},
					{
						"name": "CampaignStatus",
						"type": "nvarchar"
					},
					{
						"name": "CampaignPopulationFilterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CampaignPopulationFilter",
						"type": "nvarchar"
					},
					{
						"name": "ExpectedCustomerResponse",
						"type": "varchar"
					},
					{
						"name": "RewardID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RewardName",
						"type": "nvarchar"
					},
					{
						"name": "Channel_Group",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "azure",
					"table": "Communication_Channels_Stream"
				}
			},
			"dependsOn": []
		}
	]
}