puDataFactory/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "puDataFactory"
		},
		"emerp_lm_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'emerp_lm'",
			"defaultValue": "Integrated Security=True;Data Source=dwh-pr,2555;Initial Catalog=emerp_lm"
		},
		"emerp_lm_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'emerp_lm'"
		},
		"emerpdbpr_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'emerpdbpr'",
			"defaultValue": "Integrated Security=True;Data Source=dwh-pr;Initial Catalog=EmErp_CM"
		},
		"emerpdbpr_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'emerpdbpr'"
		},
		"fileserver1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'fileserver1'"
		},
		"linkedService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService1'"
		},
		"pu_raw_file_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'pu_raw_file_LS'"
		},
		"scmm_db_pr2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'scmm_db_pr2'",
			"defaultValue": "Integrated Security=True;Data Source=scmm-db-pr2;Initial Catalog=MS_CRM"
		},
		"emerp_lm_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"emerpdbpr_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"fileserver1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\netapp-ams-cifs\\db\\Events_Collector\\Archived"
		},
		"fileserver1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"linkedService1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\netapp-ams-cifs\\db\\Events_Collector\\pu_file_sync_to_azure\\files"
		},
		"linkedService1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"pu_raw_file_LS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\netapp-ams-cifs\\db\\Events_Collector\\pu_file_sync_to_azure\\files"
		},
		"pu_raw_file_LS_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efix\\az_etl"
		},
		"scmm_db_pr2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "efix\\MScrm_user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/emerp_lm')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('emerp_lm_connectionString')]",
					"userName": "[parameters('emerp_lm_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('emerp_lm_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emerpdbpr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "dwh-pr\\emerp",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('emerpdbpr_connectionString')]",
					"userName": "[parameters('emerpdbpr_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('emerpdbpr_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fileserver1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('fileserver1_properties_typeProperties_host')]",
					"userId": "[parameters('fileserver1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('fileserver1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('linkedService1_properties_typeProperties_host')]",
					"userId": "[parameters('linkedService1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pu_raw_file_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('pu_raw_file_LS_properties_typeProperties_host')]",
					"userId": "[parameters('pu_raw_file_LS_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('pu_raw_file_LS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scmm_db_pr2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('scmm_db_pr2_connectionString')]",
					"userName": "[parameters('scmm_db_pr2_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_pr_vpn",
							"type": "LinkedServiceReference"
						},
						"secretName": "mscrm-user-password"
					}
				},
				"connectVia": {
					"referenceName": "alldbgateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/02_platfromusage_unzip_zip_blob_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup_file_to_unzip",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "     SELECT file_name,\n        folder,unzip_file\n\tFROM etl.platfrom_usage_log_file\n WHERE ISNULL(unzip_file,0) <>1 AND move_to_blob=1\n  \n  IF @@ROWCOUNT=0 THROW 50000 ,'No file to move',1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Azure_Sql_bi_db",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "unzip",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lookup_file_to_unzip",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink",
								"copyBehavior": "PreserveHierarchy"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "platformusage_blob",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "@concat('platformusage/rawdata/',activity('lookup_file_to_unzip').output.firstRow.folder,'/')",
									"file_name": "@concat(substring(activity('lookup_file_to_unzip').output.firstRow.FILE_NAME,0,8),'.zip')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_platfrom_unzip_file",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "@concat('platformusage/unzip/',activity('lookup_file_to_unzip').output.firstRow.folder,'/')",
									"file_name": "@concat(substring(activity('lookup_file_to_unzip').output.firstRow.FILE_NAME,0,8),'.zip')"
								}
							}
						]
					},
					{
						"name": "update_unzip",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "unzip",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[etl].[SP_Update_platfrom_usage_log_file_unzip]",
							"storedProcedureParameters": {
								"file_name": {
									"value": {
										"value": "@activity('lookup_file_to_unzip').output.firstRow.file_name",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Azure BI db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Platfrom_Usage"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_prf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_prf",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "users/barak/tmp_pqu/"
							},
							{
								"name": "Destination",
								"value": "WebEvents"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"path": "$['id']"
										}
									},
									{
										"source": {
											"name": "Req",
											"type": "String"
										},
										"sink": {
											"path": "$['Req']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_prf",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_prf",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Logins_by_Country')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login Sessions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetLast_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/BI/Reports/Sessions Reports",
							"baseParameters": {
								"Last_Date": {
									"value": "@activity('GetLast_Date').output.firstRow.Last_Date",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Analysis",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLast_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[[Reports].[Get_LastDate]",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy mrr to Azure SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Login Sessions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Event_Day": "Event_date_Day",
									"AccountNumber": "AccountNumber",
									"Broker": "Broker",
									"Folder": "Folder",
									"FolderType": "FolderType",
									"Login_From_Country": "Login_From_Country",
									"CustomerCountry": "CustomerCountry",
									"AMLComplianceStatus": "AMLComplianceStatus",
									"Sessions": "Sessions"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQL_Logins_By_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_All_old_clustering_model_203')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "01 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01 Get Customers List For All Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "02 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "01 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "02 Get Data For Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "03  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "02 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "03 - Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run_all_Model_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "999 sync to azure sql",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "303  Execute Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "999 - sync to azure sql",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "301 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "301 Get Customers List For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "302 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "301 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "302 Get Data For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "303  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "302 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "303 Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Serials Dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_to_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Serial": "Serial",
									"Client_Id": "Client_Id",
									"Client_Numerator": "Client_Numerator",
									"Client_Name": "Client_Name",
									"Product_Numerator": "Product_Numerator",
									"Product_Name": "Product_Name",
									"Product_Full_Name": "Product_Full_Name",
									"Campaign_Numerator": "Campaign_Numerator",
									"Campaign_Name": "Campaign_Name",
									"Targetmarket_Id": "Targetmarket_Id",
									"Targetmarket": "Targetmarket",
									"Supplier_Numerator": "Supplier_Numerator",
									"Supplier": "Supplier",
									"Supplier_Group": "Supplier_Group",
									"Mediabuyer_Numerator": "Mediabuyer_Numerator",
									"Mediabuyer": "Mediabuyer",
									"Format": "Format",
									"Site_Numerator": "Site_Numerator",
									"Site_Name": "Site_Name",
									"Proposition_Id": "Proposition_Id",
									"Proposition": "Proposition",
									"Banner_Name": "Banner_Name",
									"Banner_Path": "Banner_Path",
									"TypeExt": "TypeExt",
									"Landing_Page": "Landing_Page",
									"Language": "Language",
									"SelfActivation": "SelfActivation",
									"Content": "Content"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BI_Serials_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "serials_dim_dwh",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "BI"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/V3_PU_real_time_file_sync')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "move_last_pu_file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeEnd": {
										"value": "@addseconds(pipeline().TriggerTime,-30)",
										"type": "Expression"
									},
									"wildcardFolderPath": "landing",
									"wildcardFileName": "*.log",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sc_pu_landing",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "des_pu_in_processing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load pu rows files to platformusage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "move_last_pu_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Load Data/Platform Usage/version 3/01 v3  load  pu rows files to platformusage raw data table",
							"baseParameters": {
								"env_type": "dev"
							},
							"libraries": [
								{
									"pypi": {
										"package": "user_agents"
									}
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1_10_4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Platfrom_Usage/V3"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/___test_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "01 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01 Get Customers List For All Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "02 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "01 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "02 Get Data For Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "03  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "02 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "03 - Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "999 sync to azure sql",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "303  Execute Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "999 - sync to azure sql",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "301 Get Customers",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "03  Execute Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "301 Get Customers List For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "302 Get Data For Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "301 Get Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "302 Get Data For Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "303  Execute Models",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "302 Get Data For Models",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "303 Execute Models",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dm_Models"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cm BlobJsonToCosmos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_5sz",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dwh-qa/sqldata/campaingscsv.json"
							},
							{
								"name": "Destination",
								"value": "campaigns"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_5sz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_5sz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cm json to cosmos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_bve",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dwh-qa/sqldata/campaings"
							},
							{
								"name": "Destination",
								"value": "campaigns"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_bve",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_bve",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/j to cosmos2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_e97",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dwh-qa/sqldata/campaings.json"
							},
							{
								"name": "Destination",
								"value": "campaigns"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_e97",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_e97",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Communication_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SCMM_DBG_PR1",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "emerp_lm"
					}
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "MessageID",
						"type": "Int32"
					},
					{
						"name": "Event_Date",
						"type": "DateTime"
					},
					{
						"name": "details",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "azure.AZ_Communication"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Contacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SCMM_DBG_PR1",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "emerp_lm"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "RAWDB_Id",
						"type": "Int64"
					},
					{
						"name": "datails",
						"type": "String"
					},
					{
						"name": "Fixed_Timestamp",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"tableName": "EmErp_LM.azure.scmm_contacts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DM_Model_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH12",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "DM"
					}
				},
				"folder": {
					"name": "Assignment Score"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AssignmentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Contact_Id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Accountnumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BrokerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsOnline",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "HasAccount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "First_Lead_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "First_Lead_Local_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Lead_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Email_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Login_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Action_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "First_Lead_Last_Lead_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_To_Assignment_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Action_To_Assignment_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Local_Weekday",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Local_Day",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Local_Hour",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Language",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "SiteTrigger",
						"type": "nvarchar"
					},
					{
						"name": "Serial",
						"type": "varchar"
					},
					{
						"name": "Is_Serial_0",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Target_Market",
						"type": "nvarchar"
					},
					{
						"name": "CampaignName",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "Supplier",
						"type": "nvarchar"
					},
					{
						"name": "Site_Name",
						"type": "nvarchar"
					},
					{
						"name": "Landing_Page",
						"type": "varchar"
					},
					{
						"name": "ProductType",
						"type": "nvarchar"
					},
					{
						"name": "Placement_size",
						"type": "nvarchar"
					},
					{
						"name": "SupplierChargingUnit",
						"type": "nvarchar"
					},
					{
						"name": "Creative_format",
						"type": "nvarchar"
					},
					{
						"name": "Creative",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Os",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Browser",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Content",
						"type": "nvarchar"
					},
					{
						"name": "Last_Failed_Deposit_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Last_Failed_Amount_USD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Last_Wire_Amount_USD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Last_Failed_To_Assignment_Minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Is_Failed_Dep_Last_7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "number_of_serials",
						"type": "int",
						"precision": 10
					},
					{
						"name": "total_hphit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "n_logins_last_30",
						"type": "int",
						"precision": 10
					},
					{
						"name": "n_emails_last_30",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SupplierGroup",
						"type": "varchar"
					},
					{
						"name": "SupplierGroup_SEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SupplierGroup_Others",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SupplierGroup_Affiliates",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction",
						"type": "varchar"
					},
					{
						"name": "ContactAction_Lead",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction_Returning_Lead",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction_Returning_Email",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactAction_Returning_Login",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge",
						"type": "varchar"
					},
					{
						"name": "ContactActionAge_Till_2H",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_2H_24H",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_24H_3D",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_3D_7D",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_7D_14D",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_14D_1M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactActionAge_1M",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Device",
						"type": "nvarchar"
					},
					{
						"name": "First_Lead_Device_Tablet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Device_Mobile",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Lead_Device_Desktop",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Failed_Method",
						"type": "nvarchar"
					},
					{
						"name": "Last_Failed_CreditCards",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Failed_eWallet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Last_Failed_None",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Activation_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Assignment",
					"table": "Model_Data"
				}
			},
			"dependsOn": []
		}
	]
}